.formulario{
    align-items: center;
    background-color: #234718;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    height: 500px;
    margin-top: -50px;
    width: 500px;
}

.formulario__div{
    align-items: center;
    background-color: #7db66b;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    padding: 3px;
    width: 400px;
}

.formulario__titulo{
    font-size: 1em;
    color: #030303ec;
}

.formulario__input{
    border: none;
    border-radius: 5px;
    background-color: #50973b;
    padding: 5px;
    text-align: center;
    width: 300px;
}

.formulario__opcoes{
    background-color: #50973b;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 170px;
}

.formulario__opcoes__conteudo{
    text-align: center;
}