.formulario{
    border: thin solid #e05a5a;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    height: 300px;
    margin-top: -30px;

}

.formulario__div{
    border: thin solid #4431f1;
    display: flex;
    flex-direction: column;
    margin-top: 80px;  
}